body{
  font-size: 15px;	
  font-family: sans-serif;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 2px solid #000;
}
#header-nav{
  background-color:#999999;  
  border:2px solid #000; 
  border-radius: 0;
}
.navbar-brand{
    margin-top: 10px;
    padding-top:10px;
}
.navbar-nav{
    margin:0 -15px;
}
.navbar-brand h1{
    color: rgb(19, 18, 18);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    margin-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;  
}
#nav-list{
    border:1px solid;
}
#nav-list:nth-child(3){
    border-bottom:0;
}
#nav-list li{
    background:rgba(255, 255, 255, 0.87);
    border-bottom:2px solid;
}
#nav-list li:nth-child(3){
    border-bottom:0;
}
#nav-list li a{
    color:rgb(8, 8, 8);
    font-weight: 450;
    line-height: 8px
}
.menu{
    margin: 5px; 
}
.main-title{
    font-weight: bold;
    margin-top: -3px;
}
.menu-content{ 
    margin-top:40px;
}
.menu-title{
    font-weight: bold;
}
.menu-item{
    margin-bottom: 20px;
    background:#a09d9d;  
    padding: 10px;
}
.menu-item h4 {
    font-weight: bold;
}
.menu-item p{
  font-weight:450;
  font-size: .9em;
  padding: 5px 10px;
}
@media (max-width:767px){
    .navbar-brand:focus, .navbar-brand{
      margin-left:1px;
    }
    .menu{
      width: 80%;
      margin-right:auto;
      margin-left:auto;
      margin-bottom: 15px;
    }
    .menu-item p{
      font-weight: 600;
      font-size: 1em;
      padding:1px 1px;
    }
}
