/********** Base styles **********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

  }
  
  h1 {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }
  
  p {
    border: 1px solid black;
    background-color: #c5c20588;
    width: 98%;
    height: 150px;
    margin-top: 25px;
    margin-right: auto;
    margin-left: auto;
    font-family: Arial, Helvetica, sans-serif;
    color: brown;
  }
  
body{
	font-size: 15px;	
  font-family: sans-serif;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
  border: 2px solid #000;
}
#header-nav{
  background-color:#d1c741;  
  border:2px solid #000; 
  border-radius: 0;
}
.navbar-brand{
    margin-top: 10px;
    padding-top:10px;
}
.navbar-nav{
    margin:0 -15px;
}
.navbar-brand h1{
    color: rgb(26, 63, 165);
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 0;
    line-height: .75;
    margin-left: 15px;
}
.navbar-brand a:hover, .navbar-brand a:focus{
    text-decoration: none;  
}
#nav-list{
    border:1px solid;
}
#nav-list:nth-child(3){
    border-bottom:0;
}
#nav-list li{
    background:rgba(201, 83, 83, 0.87);
    border-bottom:2px solid;
}
#nav-list li:nth-child(3){
    border-bottom:0;
}
#nav-list li a{
    color:rgb(50, 64, 196);
    font-weight: 600;
    line-height: 8px
}
  .row {
    width: 100%;
  }
  .row h2{
    text-align: center;
    font-weight: bold;
    margin-bottom: 20px;
  }
  .item{
    position: relative;
    top: 0;
    background-color:#79b9a6;
    margin: 5px;
    padding: 25px;
    border: 1px solid #000;
  }
  
  .sub-title{
    position: absolute;
    top:0px;
    right: 0px;
    background: #1f8ab4; 
    padding: 6px 40px;
    border-left: 2px solid #000;
    border-bottom: 2px solid #000;
  }
  .sub-title h3{
    font-weight: bold;
    font-size: large;
    line-height: 0.0;
    margin-top: 5;
  }
  #title1{
    background-color: #b5be30;
  }
  #title2{
    background-color: #31b1d1;
  }
  #title3{
    background-color: #1faf97;
  }
  /********** Large devices only **********/
  @media (min-width: 992px) {
    .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
      float: left;
      padding-left: 0;
      padding-right: 0;
    }
    .col-lg-1 {
      width: 8.33%;
    }
    .col-lg-2 {
      width: 16.66%;
    }
    .col-lg-3 {
      width: 25%;
    }
    .col-lg-4 {
      width: 33.33%;
    }
    .col-lg-5 {
      width: 41.66%;
    }
    .col-lg-6 {
      width: 50%;
    }
    .col-lg-7 {
      width: 58.33%;
    }
    .col-lg-8 {
      width: 66.66%;
    }
    .col-lg-9 {
      width: 74.99%;
    }
    .col-lg-10 {
      width: 83.33%;
    }
    .col-lg-11 {
      width: 91.66%;
    }
    .col-lg-12 {
      width: 100%;
    }
  }
  
  /********** Medium devices only **********/
  @media (min-width: 768px) and (max-width: 991px) {
    .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
      float: left;      
      padding-left: 0;
      padding-right: 0;
    }
    .col-md-1 {
      width: 8.33%;
    }
    .col-md-2 {
      width: 16.66%;
    }
    .col-md-3 {
      width: 25%;
    }
    .col-md-4 {
      width: 33.33%;
    }
    .col-md-5 {
      width: 41.66%;
    }
    .col-md-6 {
      width: 50%;
    }
    .col-md-7 {
      width: 58.33%;
    }
    .col-md-8 {
      width: 66.66%;
    }
    .col-md-9 {
      width: 74.99%;
    }
    .col-md-10 {
      width: 83.33%;
    }
    .col-md-11 {
      width: 91.66%;
    }
    .col-md-12 {
      width: 100%;
    }
  }
  
  /********** Small devices only **********/
  @media (max-width: 767px) {
  
      .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
      float: left;      
      padding-left: 0;
      padding-right: 0;
    }
    
    .col-sm-1 {
      width: 8.33%;
    }
    .col-sm-2 {
      width: 16.66%;
    }
    .col-sm-3 {
      width: 25%;
    }
    .col-sm-4 {
      width: 33.33%;
    }
    .col-sm-5 {
      width: 41.66%;
    }
    .col-sm-6 {
      width: 50%;
    }
    .col-sm-7 {
      width: 58.33%;
    }
    .col-sm-8 {
      width: 66.66%;
    }
    .col-sm-9 {
      width: 74.99%;
    }
    .col-sm-10 {
      width: 83.33%;
    }
    .col-sm-11 {
      width: 91.66%;
    }
    .col-sm-12 {
      width: 100%;
    }
  }
  
